body{
    margin:0;
}

/* Sticky Footer at bottom */
#root{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container{
    flex:1;
}

/* New Form Page */
.add-btn{
    background-color: #fe424d;
    border: none !important;
}

/* Edit Page  */
.edit-btn{
    background-color: #fe424d;
    border: none !important;
}