body{
    margin:0;
}

/* Sticky Footer at bottom */
#root{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container{
    flex:1;
}

/* New Form Page */
.add-btn{
    background-color: #fe424d;
    border: none !important;
}

/* Edit Page  */
.edit-btn{
    background-color: #fe424d;
    border: none !important;
}

/* Show Page */
.show-img {
    height : 30vh;
}

.btns{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap: 12px;
    margin-top: 12px;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}